.background-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.transparent-button {
    width: 5vw; /* Adjust width as needed */
    height: 2vw; /* Adjust height as needed */
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}